
body {
    height: 670px;
    display: flex;
    color: rgba(16, 17, 17, 0.815);
    background: linear-gradient(180deg, rgb(206, 228, 215), rgb(169, 203, 187), rgb(240, 246, 234));
    background-size: cover;
    background-repeat: no-repeat;
    font-family:Arial, Helvetica, sans-serif;
    

}

.login {
    font-size: 25px;
    background:rgba(255, 255, 255, 0.333);
    /* background:rgba(233, 72, 72, 0.333); */
    width: 300px;
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 30px;
    border-radius: 3%;
    height: 450px;
  }

h1 {
    text-align: center;
    padding-bottom: 2vh;
    text-shadow: rgb(25, 28, 39) 1px 1px 1px;
}
/* Position Relative permite que o Olho do Password sobresaia */
form {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    text-shadow: rgb(25, 28, 39) 1px 1px 1px;
}
input {
    padding-left: 10px;
}

a:link {
    color:#000000
}
a:visited {
    color: #000000;
}

.link {
    font-size: 14px;
    text-align: center;
}


.form {
    height: 1.8rem;
    width: 85%;
    border: 1px solid #000000;
    
}
p {
    font-size: 20px;
    text-align: center;
    padding-bottom: 0%;
}
i {
    text-shadow: rgb(25, 28, 39) 0.3px 0.3px 0.3px; 
}
button {
    height: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.815);
    background-color: black;
    text-shadow: rgb(25, 28, 39) 0.3px 0.3px 0.3px;
    cursor: pointer;
    border-color: black;
    border-radius: 5px;
}
button:hover {
    background: rgb(31, 31, 31);
    border-color: rgb(31, 31, 31);
    transition: background-color 0.2s;
    transition: border-color 0.2s;
}
/* posicionando Olho do password para dentro do input */
#olho {
    position: absolute;
    right: 17px;
    bottom: 4px;
    top: 75px;
}